<h1>Unsubscription successful</h1>
<p>You have been successfully unsubscribed from all email notifications from Decentraland.</p>
<p>If you want to get our notifications again, you can re-subscribe from the <a
        href="{{accountLink}}" target="_blank"
        rel="noopener"
        style="
            background-color: #ff2d55;
            width: 365px;
            height: 41px;
            border-radius: 6px;
            color: #fff;
            padding: 12px 44px 12px 44px;
            text-decoration: none;
            font-family: system-ui, BlinkMacSystemFont, 'Segoe UI',
              Roboto, 'Helvetica Neue', Arial, sans-serif;
          ">Accounts application</a>.</p>
