<!DOCTYPE html>
<html lang="en" style="height: 100%">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Decentraland Notifications</title>
</head>

<body style="height: 100%; margin: 0; padding: 0; display: flex; justify-content: center;">
<div style="margin-top: 200px; margin-bottom: 200px; width: 600px; font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;">
    <h1>Unsubscription successful</h1>
    <p>You have been successfully unsubscribed from all email notifications from Decentraland.</p>

    <p>If you want to receive notifications again, re-subscribe and customize your notifications by visiting Account Settings.</p>
    <p style="height: 41px; padding-bottom: 8px; display: block; text-align: center;"><a href="{{accountLink}}" style="
                    display: inline-block;
                    background-color: #ff2d55;
                    width: 200px;
                    border-radius: 6px;
                    color: #fff;
                    padding: 10px 20px 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    font-family: system-ui, BlinkMacSystemFont, 'Segoe UI',
                      Roboto, 'Helvetica Neue', Arial, sans-serif;
                  ">GO TO ACCOUNT SETTINGS</a>
    </p>
</div>

</body>
</html>