<p style="font-size: 16px; font-weight: 700; line-height: 24px; text-align: center; color: #43404A;">
  Almost there! Jump in to complete your weekly goals and claim your Marketplace Credits before the week resets (23:59 UTC Sunday).
</p>