<p style="font-size: 16px; font-weight: 700; line-height: 24px; text-align: center; color: #43404A;">
  Don't miss out on your weekly Marketplace Credits!
  Jump in to complete your goals before the week resets (23:59 UTC Sunday) so you can treat your avatar to a shopping spree.
</p>