<p style="font-size: 16px; font-weight: 700; line-height: 24px; text-align: center; color: #43404A;">
  You've earned Marketplace Credits, but you haven't claimed them yet!
  Jump in and complete the CAPTCHA in the Weekly Rewards panel to claim your Credits before the week resets (23:59 UTC Sunday).
</p>