<p style="font-size: 16px; font-weight: 700; line-height: 24px; text-align: center; color: #43404A;">
  Your Marketplace Credits expire in one week on {{metadata.expirationDate}}. Jump into the Marketplace and spend before it's too late!
</p>

<div style="text-align: center;">
  <span style="font-size: 14px; font-weight: 400; color: #716B7C; line-height: 100%; display: inline-block; vertical-align: middle;">Current Balance:</span>
  <span style="display: inline-block; font-size: 16px; vertical-align: middle; font-weight: 700; color: #43404A; margin-left: 4px; line-height: 24px;">
    <img src="http://cdn.mcauto-images-production.sendgrid.net/2322095804444b83/fd0562e1-968e-49df-97cb-19b7ea5f3dda/34x33.png" alt="Credits Icon" style="vertical-align: middle; margin-right: 4px;">
    {{metadata.balance}}
  </span>
</div>