<table style="width: 100%; max-width: 600px; margin: 0 auto; text-align: center;">
  <tr>
    <td>
      <p
        style="font-family: Inter; font-size: 16px; font-weight: 700; line-height: 24px; text-align: center; color: #43404A;">
        The event you’ve been waiting for has begun!
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <img
        src="{{metadata.image}}" 
        alt="Event Image" 
        style="width: 100%; max-width: 600px; border-radius: 12px;" />
    </td>
  </tr>
  <tr>
    <td>
      <p
        style="font-family: Inter; font-size: 20px; font-weight: 700; line-height: 32px; text-align: center; color: #FF7439;">
        {{metadata.name}}
      </p>
    </td>
  </tr>
</table>