<p style="font-size: 16px; font-weight: 700; line-height: 24px; text-align: center; color: #43404A;">
  The DAO has posted an announcement, <span style="color: #FF2D55;">{{ metadata.title }}</span>. Read it on the governance forums.
</p>
