<p style="font-size: 16px; font-weight: 700; line-height: 24px; text-align: center; color: #43404A;">
  Someone's commented on your project update for <span style="color: #FF2D55;">{{ metadata.proposalTitle }}</span>.
</p>
