<p style="font-size: 16px; font-weight: 700; line-height: 24px; text-align: center; color: #43404A;">
  The tender you voted on <span style="color: #FF2D55;">{{ metadata.proposalTitle }}</span> has passed and can now receive bids. If you think you can tackle this solution, make a bid and propose a project!
</p>
