<p style="font-size: 16px; font-weight: 700; line-height: 24px; text-align: center; color: #43404A;">
  You voted on the proposal, <span style="color: #FF2D55;">{{ metadata.proposalTitle }}</span>, and now the results are in! Check out the proposal to see the outcome.
</p>