<p style='font-family: Inter, sans-serif; font-size: 16px; font-weight: 700; line-height: 24px; text-align: center;'>
  Your friend has successfully jumped into Decentraland—and helped you get closer to unlocking your next
  reward.<br /><br />Jump in
  and meet up with them in-world!
</p>