<table
  style="width: 100%; max-width: 600px; margin: 40px auto 20px; border-spacing: 0; text-align: center;">
  <tr>
    <th style="width: 33%; ;color: #43404A; font-size: 16px; font-weight: 700; line-height: 24px;">Your
      LAND</th>
  </tr>
  <tr>
    <td style="padding: 10px;"><img src="http://cdn.mcauto-images-production.sendgrid.net/2322095804444b83/e597fb31-4ec9-43dd-b549-16375ac3db9e/26x26.png" alt="Location Icon"
        style="display: block; margin: 0 auto; width: 24px; height: 24px;" /></td>
  </tr>
  <tr>
    <td style="padding: 10px; font-size: 18px; font-weight: bold; color: #000;">{{ metadata.land }}</td>
  </tr>
</table>