<p style="font-family: Inter, sans-serif; font-size: 16px; font-weight: 700; line-height: 24px; text-align: center; text-decoration: underline;">
  The rental period on your LAND
  <span style="color: #FF2D55;">
    {{ land metadata.land }}
  </span>
  to
  <span style="color: #FF2D55;">
    {{ metadata.tenant }}
  </span>
  has ended.
</p>