<p style="font-size: 16px; font-weight: 700; line-height: 24px; text-align: center; color: #43404A;">
  Your giveaway campaign, <span style="color: #FF2D55;">{{ metadata.campaignName }}</span>, has run out of funds to cover gas fees. Add more to get it running again.
</p>
