<p style='font-size: 20px; font-weight: 700; line-height: 24px; color: #43404A; margin: 0;'>
  You’ve earned
  <span
    style='display: inline-flex; align-items: center; padding: 5px 10px; background-color: #3a3745; color: #fff; border-radius: 20px; font-size: 14px; line-height: 1; vertical-align: middle;'
  >
    <img
      src='http://cdn.mcauto-images-production.sendgrid.net/2322095804444b83/f04c0202-bbc4-4b5a-8e1c-f2a893f4d590/14x14.png'
      alt='Polygon Mana'
      style='height: 16px; width: 16px; margin-right: 5px;'
    />
    <span style='margin-right: 8px; font-weight: bold;'>{{formatMana metadata.royaltiesCut}}</span>
  </span>
  in the secondary sale of
  <span style='color: #FF2D55;'>{{metadata.nftName}}</span>!
</p>