<p>The scene at {{placeLabel}} has been modified, invalidating active stream keys. If you'd like to stream to
this location, please generate a new stream key from the Admin Tools panel in Decentraland.</p> 