<p style="font-size: 16px; font-weight: 700; line-height: 24px; text-align: center; color: #43404A;">
  You’ve been granted the following World permission(s) to {{ metadata.world }}: {{ arrayToString permissions }}
</p>