<p style="font-family: Inter; font-size: 16px; font-weight: 700; line-height: 24px; text-align: center; text-underline-position: from-font; text-decoration-skip-ink: none; color: #43404A;">
  A World of yours has a scene deployed that is larger than your available World Storage. Please rectify this within 24hrs to avoid having your World access restricted. You can either decrease your scene’s size or get more storage. Learn more 
  <a href="https://docs.decentraland.org/creator/worlds/about/#worlds-size-limit" style="color: #FF2D55; text-decoration-line: underline; text-decoration-style: solid; text-underline-position: from-font; text-decoration-skip-ink: auto;">here</a>.
</p>