<p style="font-size: 16px; font-weight: 700; line-height: 24px; text-align: center; color: #43404A;">
  Access to your World(s) has been restricted due to insufficient World Storage. To regain access, please decrease your scene’s size or get more storage. Learn more
  <a href="https://docs.decentraland.org/creator/worlds/about/#worlds-size-limit" style="color: #FF2D55; text-decoration-line: underline; text-decoration-style: solid;">here</a>.
</p>