<p style="font-size: 16px; font-weight: 700; line-height: 24px; text-align: center; color: #43404A;">
  The owner of {{ metadata.world }} has revoked your {{ arrayToString permissions }} permissions for their World.
</p>