<p>You're almost ready to start earning Marketplace Credits!<br>Click the button below to complete the email confirmation process.</p>

<p style='height: 41px; padding-top: 8px; padding-bottom: 8px;'>
  <a
    href='{{validateButtonLink}}'
    style='display: inline-block; background-color: #f03e53; color: #fff; text-decoration: none; padding: 10px 20px; border-radius: 5px; font-size: 16px; font-weight: bold;'
  >{{validateButtonText}}</a>
</p>

<p>Or you can copy and paste this URL into the browser:
  <a href='{{validateButtonLink}}' style='font-size: 13px;'>{{validateButtonLink}}</a>
</p>