<p>You're receiving this email because you signed up for Decentraland email notifications.</p>
<p>You'll be able to customize exactly what kind of notifications you'd like to receive (e.g., Marketplace, DAO, Events,
  etc.), but you must first confirm your email.</p>

<p style='height: 41px; padding-top: 8px; padding-bottom: 8px;'>
  <a
    href='{{validateButtonLink}}'
    style='display: inline-block; background-color: #f03e53; color: #fff; text-decoration: none; padding: 10px 20px; border-radius: 5px; font-size: 16px; font-weight: bold;'
  >{{validateButtonText}}</a>
</p>

<p>Or you can copy and paste this URL into the browser:
  <a href='{{validateButtonLink}}' style='font-size: 13px;'>{{validateButtonLink}}</a>
</p>